# -----------------------------
# Joulix Dashboard - Environment
# -----------------------------

# Polygon Amoy testnet
NEXT_PUBLIC_CHAIN_ID=80002
NEXT_PUBLIC_RPC_URL=https://rpc-amoy.polygon.technology/

# Deployed contracts (testnet addresses)
NEXT_PUBLIC_USDC_ADDRESS=0x088bf8ba2A2bcE6bD799d8A2b797D6299a3D8819
NEXT_PUBLIC_ERC1155_ADDRESS=0x38689CC4389104C52F15e36A1B08A328b324223F
NEXT_PUBLIC_MARKETPLACE_ADDRESS=0x5190Ca5568000C5468970e89130e886809b98bec
