# dependencies
node_modules/

# hardhat artifacts
artifacts/
cache/
typechain-types/

# env & secrets
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/IDE
.DS_Store
.vscode/
.idea/

# build output
dist/
coverage/
